spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/movieticket
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: create
      dialect: org.hibernate.dialect.PostgreSQLDialect
    show-sql: true
    defer-datasource-initialization: true

  sql:
    init:
      mode: always

  jackson:
    property-naming-strategy: SNAKE_CASE
    serialization:
      fail-on-empty-beans: false

server:
  port: 3001

jwt:
  secret: c3VwZXItc2VjcmV0LWp3dC1rZXktZm9yLW1vdmllLWFwcA==
  expiration: 86400000
