server:
  port: 3001

spring:
  datasource:
    url: jdbc:postgresql://db:5432/movieticket
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: always

jwt:
  secret: super-secret-jwt-key-change-in-prod

spring:
  mail:
    host: smtp.mailtrap.io
    port: 2525
    username: user
    password: pass
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true
