server:
  port: 3001

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/movieticket
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  sql:
    init:
      mode: never
      data-locations: classpath:data.sql
  mail:
    host: smtp.mailtrap.io
    port: 2525
    username: dummy
    password: dummy
    properties:
      mail.smtp.auth: true
      mail.smtp.starttls.enable: true

jwt:
  secret: c3VwZXItc2VjcmV0LWp3dC1rZXktZm9yLW1vdmllLWFwcA==
